@font-face {
    font-family: economica;
    src: url(../fonts/Economica-Bold-OTF.otf) format("OpenType");
}

@font-face {
    font-family: kaushan;
    src: url(../fonts/KaushanScript-Regular.otf) format("OpenType");
}

*{
    padding: 0;
    margin: 0;
}

.icon-home2:before {
    content: "\e901";
  }

body{
    font: 12px Arial;
    background-image: url("../img/ambitios_header_bg.gif"),url("../img/ambitios_first_row_bg.gif"),url("../img/ambitios_footer_bg.gif");
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: center top,center 64px,center 925px;
}

.wrapper{
    width: 980px;
    margin: 0 auto;
}

header{
    height: 64px;
    overflow: hidden;
}

header h1{
    font: 38px normal economica;
    color: #eee;
    text-shadow: 3px 3px 5px #000;
    padding: 8px 0 0 8px;
    float: left;
}

header ul{
    list-style-type: none;
    padding-top: 20px;
    float: right;
}

header li{
    display: inline-block;
    font-size: 18px;
}

header li a{
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
}

header a:hover{
    background-color: blue;
    border-radius: 5px;
}

.active{
    background-color: white;
    color: #000;
}

.banner{
    padding-top: 30px;
    height: 375px;
    overflow: hidden;
}

.banner .leftimg{
    float: left;
    margin-right: 40px;
    border-radius: 10px;
}

.banner .botton{
    margin-top: 20px;
}

.banner h2{
    font: 35px kaushan;
    color: white;
    line-height: 2em;
    word-spacing: .3em;
}

.banner p{
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

.content{
    overflow: hidden;
    padding:10px 10px;
}

.content .box1{
    width: 220px;
    height: 400px;
    float: left;
    margin:20px 10px 10px 10px;
    list-style-type: none;
    border-radius: 10px;
    background-color: rgb(253, 249, 249);
    box-shadow: 3px 2px 6px #999,-3px -2px 6px #999;
}

.content .box1 li{
    color: rgb(109, 107, 107);
    font-size: 14px;
    margin-left: 30px;
}

.content .box2{
    width: 220px;
    height: 400px;
    float: left;
    margin:20px 10px 10px 10px;
    list-style-type: none;
    border-radius: 10px;
    background-color: rgb(253, 249, 249);
    box-shadow: 3px 2px 6px #999,-3px -2px 6px #999;
}

.content .box3{
    width: 220px;
    height: 400px;
    float: left;
    margin:20px 10px 10px 10px;
    list-style-type: none;
    border-radius: 10px;
    background-color: rgb(253, 249, 249);
    box-shadow: 3px 2px 6px #999,-3px -2px 6px #999;
}


.content .box4{
    width: 220px;
    height: 400px;
    float: left;
    margin:20px 10px 10px 10px;
    list-style-type: none;
    border-radius: 10px;
    background-color: rgb(253, 249, 249);
    box-shadow: 3px 2px 6px #999,-3px -2px 6px #999;
}

.content  h2{
    width: 220px;
    height: 90px;
    padding-top: 8px;
    background-color: #1c7dc8;
    text-align: center;
    color: white;
    font: 22px normal Arial ,sans-serif;
    vertical-align: middle;
    border-radius: 10px;
    line-height: 1.3em;
}

.content p{
    color: rgb(109, 107, 107);
    font-size: 14px;
    line-height: 1.5em;
    margin: 15px 10px;
}

footer{
    padding: 15px 0 15px 5px;
    color: #fff;
    margin-top: 10px;
}


